<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Form</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/search.css') }}">
</head>
<body>
    <div id="topRectangle"></div>
    <div id="gray1Rectangle"></div>
    <div id="gray2Rectangle"></div>
    <div class=".training-button-container">
        <!-- <button id="TrainingButton">Training</button>  -->
        <form action="/models" method="POST">
             <input type="submit" id="TrainingButton" name="TRAIN" value="Models"></button> <!-- id="SearchButton" -->
        </form>
        <form action="/album_viewer_tab" method="POST">
             <input type="submit" id="TrainingButton" name="ALBUM" value="Album" style="position: fixed; top: 20px; right: 130px;"></button> <!-- id="SearchButton" -->
        </form>
    </div>
    <div class="left-container">
        <div class="search-container">
            <form action="/projet" method="POST">
                {% if search %}

                <input type="search" name="url_entry" value="{{ search }}">
                
                {% else %}

                <input type="search" name="url_entry" placeholder="   Il te faut quoi ?">

                {% endif %}

                {% if num %}

                <input type="search" name="num_entry" value="{{ num }}">
                
                {% else %}

                <input type="search" name="num_entry" placeholder="combien?">

                {% endif %}

                <input type="submit" id="SearchButton" name="VAL" value="Search"></button> <!-- id="SearchButton" -->

                
                
                <div id="trainTab">
                <!-- Info Tab Content -->
                <h1 style="text-align:center; font-size: 200%; color: white; font-family: 'Georgia', serif">Entrainement modèle classification</h1>
                  
               <!-- //Use the style attribute for styling HTML elements
                <p style="text-align:center;">Centered paragraph.</p> -->
                    <div class="dropZone" style="position: relative; top: 20px; left: 20px; width: 297px; height: 68.25px; background-color: #555; border: 2px dashed #bbb; border-radius: 15px; margin: 10px auto; overflow: none;">Category 1</div>
                    <!-- Duplicated drop zone -->
                    <div class="dropZone" style="position: relative; top: 80px; left: 20px; width: 297px; height: 68.25px; background-color: #555; border: 2px dashed #bbb; border-radius: 15px; margin: 10px auto; overflow: none;">Category 2</div>
                </div>
            </form>
            <form action="/" method="POST">
                {% if request.endpoint == 'projet' %}
                <input type="submit" id="SearchButton" name="DOWN" value="Download" style="position: relative; left: 12px;"></button>
                {% endif %}
            </form>
        </div>
    </div>
    <div class="image-container">
        <div id="overlay" style="display:none;"></div>
        
        {% if request.endpoint == 'projet' %}
        <button id="deleteSelectedImages" action='/proj'>Delete Selected Images</button>
        {% endif %}
        
        <div id="DisplayResult">
                         
             {% if image_url %}
                     
                 {%- for url in image_url %}

                 <img class="image" src="{{ url }}" alt="Image" />
     
                 {% endfor %}

             {% else %}
             <img src="https://source.unsplash.com/random/200x200?sig=1" />
             <img src="https://source.unsplash.com/random/200x200?sig=2" />
             <img src="https://source.unsplash.com/random/200x200?sig=3" />
             {% endif %}
         
         </div>
    </div>
    <div class="right-container">
        <div class="scrollable-frame" id="scrollableFrame">
            {% if tag_list %}
                {%- for url in tag_list %}
                <img src="{{ url -}}" alt="Image" draggable="True" id="img10">
                {% endfor %}
            {% endif %}    
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/search.js') }}"></script>
</body>
</html>




















