

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Form</title>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/train.css') }}">
</head>
<body>

    <div id="topRectangle"></div>
    <div id="gray1Rectangle"></div>
    <div id="gray2Rectangle"></div>

    <div class=".training-button-container">
        <form action="/" method="POST">
        <!-- button 'training' top right-->
            <input type="submit" id="TrainingButton" name="ACCUEIL" value="Accueil" style="position: fixed; top: 20px; right: 12px;"></button>
        </form>
        
    {% if request.endpoint == 'training' %}
        <form action="/models_storage" method="POST">
            <input type="submit" id="TrainingButton" name="MODELS" value="My models" style="position: fixed; top: 20px; right: 120px;"></button>
        </form>
    {% endif %}
    
    {% if request.endpoint == 'my_models' %}
        <form action="/models" method="POST">
            <input type="submit" id="TrainingButton" name="TRAIN" value="Models" style="position: fixed; top: 20px; right: 120px;"></button>
        </form>
    {% endif %}
    </div>
    
    {% if request.endpoint == 'training' %}
        <div id="trainTab">
            <button id="startTrainingButton" style="position: fixed; top: 300px; left: 550px; z-index: 150">Start training</button>
            <h1 style="text-align:center; font-size: 200%; color: white; font-family: 'Georgia', serif">Entrainement modèle classification</h1>
            <div class="dropZone" style="position: relative; top: 20px; left: 20px; width: 297px; height: 68.25px; background-color: #555; border: 2px dashed #bbb; border-radius: 15px; margin: 10px auto; overflow: none;">Category 1</div>
            <div class="dropZone" style="position: relative; top: 80px; left: 20px; width: 297px; height: 68.25px; background-color: #555; border: 2px dashed #bbb; border-radius: 15px; margin: 10px auto; overflow: none;">Category 2</div>
        </div>
    {% endif %}
    
    <div class="right-container">
        <div class="scrollable-frame" id="scrollableFrame">
            {% if tag_list %}
                {%- for url in tag_list %}
                <img src="{{ url -}}" alt="Image" draggable="True" id="{{ url -}}">
                {% endfor %}
            {% endif %}    
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/train.js') }}"></script>
</body>
</html>







