

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Form</title>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/train.css') }}">
</head>
<body>

    <div id="topRectangle"></div>
    <div id="gray1Rectangle"></div>
    <div id="gray2Rectangle"></div>

    <div class=".training-button-container">
        <form action="/" method="POST">
        <!-- button 'training' top right-->
            <input type="submit" id="TrainingButton" name="ACCUEIL" value="Accueil" style="position: fixed; top: 20px; right: 12px;"></button>
        </form>
    
    {% if request.endpoint == 'my_models' %}
        <form action="/models" method="POST">
            <input type="submit" id="TrainingButton" name="TRAIN" value="Models" style="position: fixed; top: 20px; right: 120px;"></button>
        </form>
    {% endif %}
    </div>
    
    {% if request.endpoint == 'training' %}
        <div id="trainTab">
             <div class="dropZone" style="position: fixed; top: 200px; left: 50px; width: 297px; height: 68.25px; background-color: #555; border: 2px dashed #bbb; border-radius: 15px; margin: 10px auto; overflow: none;"></div>
             <div class="dropZone" style="position: fixed; top: 200px; left: 370px; width: 297px; height: 68.25px; background-color: #555; border: 2px dashed #bbb; border-radius: 15px; margin: 10px auto; overflow: none;"></div>
     
             <button id="startTrainingButton" style="position: fixed; top: 320px; left: 255px; z-index: 150">Lancer l'entrainement</button>
     
             <form action="/train-result" method="POST">
                 <input type="submit" id="ResultButton" name="RESULT" value="Résultat de l'entrainement" style="position: fixed; top: 385px; left: 240px; z-index: 150;"></input>
             </form>
     
             <h1 style="text-align:center; font-size: 200%; color: white; font-family: 'Georgia', serif">Choix des catégories pour le modèle</h1>
        </div>

    {% endif %}
    
    <div class="right-container">
        <div class="scrollable-frame" id="scrollableFrame">
            {% if tag_list %}
                {%- for url in tag_list %}
                <img src="{{ url -}}" alt="Image" draggable="True" id="{{ url -}}">
                {% endfor %}
            {% endif %}    
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/train.js') }}"></script>
</body>
</html>







